.projects {
    opacity: 0;
    animation: fadeIn 1s linear 3.5s 1 normal forwards;
}

.project {
    @include text(100%);
    background-color: $dark_bg_color;
    padding: 0px;
    border: none;
    &:hover {
        color: #bb00ff;
    }
}