@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CRSV,MONO@500,0,1&display=swap');
body {
    background-color: #0e0913;
}

ul {
    list-style: square;
}

.text {
    color: #e0e0e0;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}

p {
    color: #e0e0e0;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}

.tab {
    overflow: hidden;
    background-color: #241930;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #e0e0e0;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}

.tab button:hover {
    background-color: #483166;
}

.tab button.active {
    background-color: #543275;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #241930;
    border-top: none;
}

select {
    cursor: pointer;
    padding: 6px 12px;
    border: 3px solid #241930;
    border-top: none;
    background-color: #241930;
    color: #e0e0e0;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}

nobr {
    color: #e0e0e0;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}